In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
data.nunique()

User ID            400
Gender               2
Age                 43
EstimatedSalary    117
Purchased            2
dtype: int64

In [4]:
data.drop('User ID' , axis = 1 , inplace=True)

In [5]:
X = data.drop('Purchased',axis = 1)
y = data['Purchased']

In [6]:
numerical_attrs = [item for item in X.columns if data[item].dtype != "O"]
categorical_attrs = [item for item in X.columns if data[item].dtype == "O"]
numerical_attrs

['Age', 'EstimatedSalary']

In [7]:
fullpipeline = ColumnTransformer([
    ('num',StandardScaler(),numerical_attrs),
    ('cat',OneHotEncoder(),categorical_attrs)
])

In [8]:
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [9]:
X = fullpipeline.fit_transform(X)

In [10]:
X_trian , X_test , y_train , y_test = train_test_split(X,y, test_size= .20)

In [11]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X_trian , y_train)
y_pred = clf.predict(X_test)

In [12]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91        50
           1       1.00      0.67      0.80        30

    accuracy                           0.88        80
   macro avg       0.92      0.83      0.85        80
weighted avg       0.90      0.88      0.87        80

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
tree = DecisionTreeClassifier()
tree.fit(X_trian , y_train)
ytree_pred = tree.predict(X_test)

In [15]:
print(classification_report(y_test,ytree_pred))

              precision    recall  f1-score   support

           0       0.82      0.94      0.88        50
           1       0.87      0.67      0.75        30

    accuracy                           0.84        80
   macro avg       0.85      0.80      0.82        80
weighted avg       0.84      0.84      0.83        80